<div class="container">
  <h3>Item Master</h3>
</div>

<div class="container nav-bar my-3 ">
    <div class="row">
        <div class="col-md-4">
            <button
            (click)="onAdd()"
            class="btn btn-dark btn-no-border"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Add Item Master
          </button> 
        </div>
        <div class="col-md-4">
             
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Search Item" [(ngModel)]="searchTerm" (input)="filterSuppliers()">
    </div>
    </div>
    
</div>

<!-- <div class="container">
    New container for pagination
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">1 <span class="visually-hidden">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div> -->

 <!-- Pagination -->

  


<div class="main">
  <section class="dashboard mt-3">
    <div class="container">
        <nav aria-label="Page navigation"  >
            <ul class="pagination justify-content-end">
              <li class="page-item " [class.disabled]="currentPage === 1">
                <a class="page-link text-dark "  (click)="setPage(currentPage - 1)">Previous</a>
              </li>
              <li class="page-item " *ngFor="let page of pages" [class.active]="page === currentPage">
                <a class="page-link" (click)="setPage(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link text-dark" (click)="setPage(currentPage + 1)">Next</a>
              </li>
            </ul>
          </nav>
        
      <table class="table table-responsive table-bordered">
        <thead>
          <tr class="table-dark">
            <th>Sr.No.</th>
            <th>Item Code</th>
            <th>Item Description</th>
            <th>HSN Code</th>
            <th>Unit</th>
            <th>Stock</th>
            <th>Make Item</th>
            <th>Date Created</th>

            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-striped" *ngFor="let row of paginatedItemMasterData">
            <td>{{ row.id }}</td>
            <td>{{ row.itemCategory }}</td>
            <td>{{ row.itemName }}</td>
            <td>{{ row.hsnCode }}</td>
            <td>{{ row.uom }}</td>
            <td>{{ row.minStock }}</td>
            <td>{{ row.itemMake }}</td>
            <td>{{ row.lastIssueDate | date : "yyyy-MM-dd" }}</td>

            <td class="text-center">
              <button
                (click)="onEdit(row)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="btn btn-sm btn-success mx-1"
              >
                Edit
              </button>
              <button (click)="deleteMaster(row)" class="btn btn-sm btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
       
    </div>
  </section>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <!-- Use modal-lg class to make the modal larger -->
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Item Master Form
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="itemMasterForm" class="suppform">
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="companyName" class="form-label"
                  >Select Item Category <span class="text-danger">*</span> :</label
                >
                <select
                  class="form-select rounded-0"
                  placeholder="select"
                  formControlName="itemCategory"
                >
                  <option value="Select Item Category" disabled selected>
                    Select Item Category
                  </option>
                  <option *ngFor="let name of itemsCategory" [value]="name">
                    {{ name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Item Code <span class="text-danger">*</span> :</label>
                <input
                  type="text"
                  formControlName="itemCode"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Item Name <span class="text-danger">*</span> :</label>
                <input
                  type="text"
                  formControlName="itemName"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">HSN Code <span class="text-danger">*</span> :</label>
                <input
                  type="text"
                  formControlName="hsnCode"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="companyName" class="form-label"
                  >Select Item Make :</label
                >
                <select
                  class="form-select rounded-0"
                  placeholder="select"
                  formControlName="itemMake"
                >
                  <option value="" disabled selected>Select Item Make <span class="text-danger">*</span></option>
                  <option *ngFor="let name of itemsMake" [value]="name">
                    {{ name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="companyName" class="form-label"
                  >Select Item Type :</label
                >
                <select
                  class="form-select rounded-0"
                  placeholder="select"
                  formControlName="itemType"
                >
                  <option value="" disabled selected>Select Item Type <span class="text-danger">*</span></option>
                  <option value="Stockable">Stockable</option>
                  <option value="Non-Stockable">Non-Stockable</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="companyName" class="form-label"
                  >Capital Item :</label
                >
                <select
                  class="form-select rounded-0"
                  placeholder="select"
                  formControlName="capitalItem"
                >
                  <option value="" disabled selected>
                    Select Capital Item
                  </option>
                  <option value="Consumable">Consumable</option>
                  <option value="Capitable">Capitable</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="companyName" class="form-label"
                  >Select Source :</label
                >
                <select
                  class="form-select rounded-0"
                  placeholder="select"
                  formControlName="source"
                >
                  <option value="" disabled selected>Select Source</option>
                  <option value="Born">Born</option>
                  <option value="Imported">Imported</option>
                  <option value="Local">Local</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">ABC CLASS :</label>
                <input
                  type="text"
                  formControlName="abcClass"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Location :</label>
                <input
                  type="text"
                  formControlName="location"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">U.O.M :</label>
                <input
                  type="text"
                  formControlName="uom"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Min Stock :</label>
                <input
                  type="text"
                  formControlName="minStock"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Record Level :</label>
                <input
                  type="text"
                  formControlName="recordLevel"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">E.O.Q :</label>
                <input
                  type="text"
                  formControlName="eoq"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Lead Days :</label>
                <input
                  type="text"
                  formControlName="leadDays"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Mtn Cons :</label>
                <input
                  type="text"
                  formControlName="mtnCons"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Purchase Code :</label>
                <input
                  type="text"
                  formControlName="purchaseCode"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Last Issue No <span class="text-danger">*</span> :</label>
                <input
                  type="text"
                  formControlName="eoq"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label"
                  >Last Issue Date :</label
                >
                <input
                  type="date"
                  formControlName="lastIssueDate"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label"
                  >Last Received No  :</label
                >
                <input
                  type="text"
                  formControlName="lastRecivedNo"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label"
                  >Last Recived Date :</label
                >
                <input
                  type="date"
                  formControlName="lastRecivedDate"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="companyName" class="form-label"
                  >Select Last Supplier :</label
                >
                <select
                  class="form-select rounded-0"
                  placeholder="select"
                  formControlName="lastSupplier"
                >
                  <option value="" disabled selected>
                    Select Last Supplier
                  </option>
                  <option *ngFor="let name of SuppliersName" [value]="name">
                    {{ name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Last Rate :</label>
                <input
                  type="text"
                  formControlName="lastRate"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">YTDCONS :</label>
                <input
                  type="text"
                  formControlName="ytdCons"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Remark :</label>
                <input
                  type="text"
                  formControlName="remark"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="mb-3">
                <label for="companyName" class="form-label">Bat No :</label>
                <select
                  class="form-select rounded-0"
                  placeholder="select"
                  formControlName="batNo"
                >
                  <option value="" disabled selected>Select Batch No</option>
                  <option value="YES">YES</option>
                  <option value="NO">NO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="industry" class="form-label">Other No :</label>
                <input
                  type="text"
                  formControlName="otherNo"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
          </div>
          <!-- Add similar rows and columns as needed for additional fields -->
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel"
          (click)="onClose()"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <!-- <button type="button" class="btn btn-dark text-white">Add Department</button> -->
        <button
          type="submit"
          *ngIf="showAdd"
          
          (click)="addNewData()"
          class="btn btn-dark"
        >
          Add Item Master
        </button>
        <button
          type="submit"
          (click)="updateItemMaster()"
          *ngIf="showUpdate"
          class="btn btn-dark"
        >
          Update Item Master
        </button>
      </div>
    </div>
  </div>
</div>
