<style>
  .table {
    font-size: 13px; /* Adjust the font size as per your preference */
   
  }
  .btn-no-border{
 border-radius: 0%;
 margin: 0px ;
 font-size: 14px;
  }

  .btn-sm {
    padding: 0.15rem 0.5rem; /* Adjust padding as per your preference */
    font-size: 12px; /* Adjust font size as per your preference */
  }
  

  .form-control {
    font-size: 14px; /* Adjust the font size as per your preference */
    border-radius: 0; /* Remove border radius */
  }

  label{
    font-weight: 500;
  }

  .suppform {
    font-size: 14px;
  }

  .page-link{
    cursor: pointer !important;
    font-size: 14px !important;
    border-radius: 0 !important;
    color: black;
   }

   
   .page-item.active .page-link {
    background-color: #343a40; /* Dark background color */
    color: #ffffff; /* Light text color */
    border: none;
}

 
  
</style>
<div class="container ">
  <h3>Employee Department Master</h3>
 </div>

 <div class="container    my-3 ">
  <div class="row">
      <div class="col-md-4">
          <button
          (click)="onAdd()"
          class="btn btn-dark btn-no-border"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Add Department
        </button> 
      </div>
      <div class="col-md-4">
           
      </div>
      <div class="col-md-4">
        <nav aria-label="Page navigation"  >
          <ul class="pagination justify-content-end">
            <li class="page-item " [class.disabled]="currentPage === 1">
              <a class="page-link text-dark "  (click)="setPage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item " *ngFor="let page of pages" [class.active]="page === currentPage">
              <a class="page-link" (click)="setPage(page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link text-dark" (click)="setPage(currentPage + 1)">Next</a>
            </li>
          </ul>
        </nav>
          <!-- <input type="text" class="form-control" placeholder="Search Item" [(ngModel)]="searchTerm" (input)="filterSuppliers()"> -->
  </div>
  </div>
  
</div>
 

<!-- <nav class="navbar navbar-light">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <button
          (click)="onAdd()"
          class="btn btn-dark btn-no-border"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Add Item Make
        </button>
      </div>

      <div class="col">
      
      </div>
    </div>
  </div>
</nav> -->

<div class="main">
  <section class="dashboard mt-3">
    <div class="container">
    
      <table class="table table-responsive table-bordered">
        <thead>
          <tr class="table-dark">
            <th>ID</th>
            <th>Shorted Code</th>
            <th>Department</th>
            <th>Data Created</th>

            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-striped" *ngFor="let row of paginatedDepartmentData">
            <td>{{ row.id }}</td>
            <td>{{ row.shortCode }}</td>
            <td>{{ row.deptDetails }}</td>
          
            <td>{{ row.createdAt | date: 'yyyy-MM-dd' }}</td>
          

            <td class="text-center">
              <button
                (click)="onEdit(row)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="btn btn-sm btn-success mx-1"
              >
                Edit
              </button>
              <button
                (click)="deleteDepartment(row)"
                class="btn btn-sm btn-danger"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <!-- Use modal-lg class to make the modal larger -->
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Employee Department
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userDepartmentForm">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="companyName" class="form-label"
                  >Short Code <span class="text-danger">*</span> :</label
                >
                <input
                  type="text"
                  formControlName="shortCode"
                  class="form-control rounded-0"
                  id="companyName"
                  name="companyName"
                  placeholder="short code"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="companyName" class="form-label"
                  >Department Details <span class="text-danger">*</span> :</label
                >
                <input
                  type="text"
                  formControlName="deptDetails"
                  class="form-control rounded-0"
                  id="companyName"
                  name="companyName"
                  placeholder="Department Details "
                />
              </div>
            </div>
             
             
          </div>
          <!-- Add similar rows and columns as needed for additional fields -->
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel"
          (click)="onClose()"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <!-- <button type="button" class="btn btn-dark text-white">Add Department</button> -->
        <button
          type="submit"
          *ngIf="showAdd"
          (click)="addNewData()"
          class="btn btn-dark"
        >
          Add Department
        </button>
        <button
          type="submit"
          (click)="updateDepartment()"
          *ngIf="showUpdate"
          class="btn btn-dark"
        >
          Update Department
        </button>
      </div>
    </div>
  </div>
</div>
