<div class="container">
  <h3> Material Requirement Note</h3>
 </div>

 <div class="container my-3 ">
  <div class="row">
      <div class="col-md-4">
          <button
          (click)="onAdd()"
          class="btn btn-dark btn-no-border"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Add MRN Details
        </button> 
      </div>
      <div class="col-md-4">
           
      </div>
      <div class="col-md-4">
        <nav aria-label="Page navigation"  >
          <ul class="pagination justify-content-end">
            <li class="page-item " [class.disabled]="currentPage === 1">
              <a class="page-link text-dark "  (click)="setPage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item " *ngFor="let page of pages" [class.active]="page === currentPage">
              <a class="page-link" (click)="setPage(page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link text-dark" (click)="setPage(currentPage + 1)">Next</a>
            </li>
          </ul>
        </nav>
          <!-- <input type="text" class="form-control" placeholder="Search Item" [(ngModel)]="searchTerm" (input)="filterSuppliers()"> -->
  </div>
  </div>
  
</div>
 

<!-- <nav class="navbar navbar-light">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <button
          (click)="onAdd()"
          class="btn btn-dark btn-no-border"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Add Item Make
        </button>
      </div>

      <div class="col">
      
      </div>
    </div>
  </div>
</nav> -->

<div class="main">
  <section class="dashboard mt-3">
    <div class="container">
    
      <table class="table table-responsive table-bordered">
        <thead>
          <tr class="table-dark">
            <th>Sr.No</th>
            <th>Item</th>
            <th>U.O.M</th>
            <th>Qty Stock</th>
            <th>Last PR</th>
            <th>Qty Req</th>
            <th>Qty Order</th>
            <th>Curr PR</th>
            <th>Supplier Code</th>
            <th>Department</th>
            <th>Job</th>
            <th>Remark</th>
 
           

            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-striped" *ngFor="let row of paginatedMRNDetailsData">
            <td>{{ row.id }}</td>
            <th>{{row.item}}</th>
            <th>{{row.uom}}</th>
            <th>{{row.quantityStock}}</th>
            <th>{{row.lastPR}}</th>
            <th>{{row.quantityRequired}}</th>
            <th>{{row.quantityOrder}}</th>
            <th>{{row.currentPR}}</th>
            <th>{{row.supplier}}</th>
            <th>{{row.department}}</th>
            <th>{{row.jobMaster}}</th>
            <th>{{row.remark}}</th>
          

            <td class="text-center">
              <!-- <button
                (click)="onEdit(row)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="btn btn-sm btn-success mx-1"
              >
                Edit
              </button> -->
              <button
                (click)="deleteMrnDetails(row)"
                class="btn btn-sm btn-danger"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <!-- Use modal-lg class to make the modal larger -->
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Material Requirement Note Form
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="mrnDetailsForm">
                 <div class="row">
                  <div class="col-md-2">
                    <div class="mb-3">
                      <label for="companyName" class="form-label"
                        >M.R.N Date <span class="text-danger">*</span> :</label
                      >
                      <input
                        type="date"
                        formControlName="mrnDate"
                        class="form-control rounded-0"
                        id="companyName"
                        name="companyName"
                        
                      />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="mb-3">
                      <label for="companyName" class="form-label"
                        >Interchange <span class="text-danger">*</span> :</label
                      >
                      <input
                        type="text"
                        formControlName="interchange"
                        class="form-control rounded-0"
                        id="companyName"
                        name="companyName"
                        placeholder="interchange"
                      />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="mb-3">
                      <label for="companyName" class="form-label"
                        >Store Interchange   :</label
                      >
                      <input
                        type="text"
                        formControlName="storeInterchange"
                        class="form-control rounded-0"
                        id="companyName"
                        name="companyName"
                        placeholder="store interchange"
                      />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="mb-3">
                      <label for="companyName" class="form-label"
                        >Head Of Dept <span class="text-danger">*</span> :</label
                      >
                      <input
                        type="text"
                        formControlName="hod"
                        class="form-control rounded-0"
                        id="companyName"
                        name="companyName"
                        placeholder="H.O.D"
                      />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="mb-3">
                      <label for="companyName" class="form-label"
                        >Author Sign <span class="text-danger">*</span> :</label
                      >
                      <input
                        type="text"
                        formControlName="authorSign"
                        class="form-control rounded-0"
                        id="companyName"
                        name="companyName"
                        placeholder="author sign"
                      />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="mb-3">
                      <label for="companyName" class="form-label"
                        >Remark :</label
                      >
                      <input
                        type="text"
                        formControlName="remark"
                        class="form-control rounded-0"
                        id="companyName"
                        name="companyName"
                        placeholder="remark"
                      />
                    </div>
                  </div>
                 </div>
                
                  <div class="card mt-2">
                    <div class="card-header  bg-dark">
                      <h5 class="card-title text-white">Material Details</h5>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <label for="companyName" class="form-label">
                                Select Item <span class="text-danger">*</span> :
                            </label>
                            <select class="form-select rounded-0" placeholder="select" formControlName="item">
                                <option value="" disabled selected>Select Item</option>
                                <!-- <option *ngFor="let item of ItemData" [value]="item">{{item.itemCode}} [{{ item.itemName }}]</option> -->
                                <option *ngFor="let item of ItemData" [value]="item.itemName">{{item.itemCode}} [{{ item.itemName }}]</option>

                            </select>
                        </div>
                        </div>
                       
                        <div class="col-md-2">
                          <div class="mb-3">
                            <label for="companyName" class="form-label"
                              >Current Purchase Rate <span class="text-danger">*</span> :</label
                            >
                            <input
                              type="text"
                              formControlName="currentPR"
                              class="form-control rounded-0"
                              id="companyName"
                              name="companyName"
                              placeholder="currentPR"
                            />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="mb-3">
                            <label for="companyName" class="form-label"
                              >Quantity Required <span class="text-danger">*</span> :</label
                            >
                            <input
                              type="text"
                              formControlName="quantityRequired"
                              class="form-control rounded-0"
                              id="companyName"
                              name="companyName"
                              placeholder="quantity Required"
                            />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="mb-3">
                            <label for="companyName" class="form-label"
                              >Quantity Order <span class="text-danger">*</span>  :</label
                            >
                            <input
                              type="text"
                              formControlName="quantityOrder"
                              class="form-control rounded-0"
                              id="companyName"
                              name="companyName"
                              placeholder="quantity Order"
                            />
                          </div>
                        </div>
                       </div>
                       <div class="row">
                        <div class="col-md-2">
                          <div class="mb-3">
                            <label for="companyName" class="form-label"
                              >U.O.M <span class="text-danger">*</span> :</label
                            >
                            <input
                              type="text"
                              formControlName="uom"
                              class="form-control rounded-0"
                              id="companyName"
                              name="companyName"
                              placeholder="u.o.m"
                            />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="mb-3">
                            <label for="companyName" class="form-label"
                              >Quantity Stock <span class="text-danger">*</span> :</label
                            >
                            <input
                              type="text"
                              formControlName="quantityStock"
                              class="form-control rounded-0"
                              id="companyName"
                              name="companyName"
                              placeholder="quantity stock"
                            />
                          </div>
                        </div>
                       
                        <div class="col-md-2">
                          <div class="mb-3">
                            <label for="companyName" class="form-label"
                              >Last Purchase Rate   :</label
                            >
                            <input
                              type="text"
                              formControlName="lastPR"
                              class="form-control rounded-0"
                              id="companyName"
                              name="companyName"
                              placeholder="last purchase rate"
                            />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="mb-3">
                            <label for="companyName" class="form-label"
                              >Last Purchase Date <span class="text-danger">*</span> :</label
                            >
                            <input
                              type="date"
                              formControlName="lastPRDate"
                              class="form-control rounded-0"
                              id="companyName"
                              name="companyName"
                              placeholder="last Purchase Date"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="companyName" class="form-label"
                              >Remark :</label
                            >
                            <input
                              type="text"
                              formControlName="mRemark"
                              class="form-control rounded-0"
                              id="companyName"
                              name="companyName"
                              placeholder="remark"
                            />
                          </div>
                        </div>
                        
                       </div>
                       <div class="row">
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="companyName" class="form-label">
                                Select Supplier <span class="text-danger">*</span> :
                            </label>
                            <select class="form-select rounded-0" placeholder="select" formControlName="supplier">
                                <option value="" disabled selected>Select Supplier</option>
                                <!-- <option *ngFor="let item of ItemData" [value]="item">{{item.itemCode}} [{{ item.itemName }}]</option> -->
                                <option *ngFor="let sup of SupplierData" [value]="sup.supplierName">{{ sup.supplierName }}</option>
                            </select>
                        </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="companyName" class="form-label">
                                Select Department <span class="text-danger">*</span> :
                            </label>
                            <select class="form-select rounded-0" placeholder="select" formControlName="department">
                                <option value="" disabled selected>Select Department</option>
                                <!-- <option *ngFor="let item of ItemData" [value]="item">{{item.itemCode}} [{{ item.itemName }}]</option> -->
                                <option *ngFor="let sup of DepartmentData" [value]="sup">{{ sup }}</option>
                            </select>
                        </div>
                        </div>
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label for="companyName" class="form-label">
                                Select Job <span class="text-danger">*</span> :
                            </label>
                            <select class="form-select rounded-0" placeholder="select" formControlName="jobMaster">
                                <option value="" disabled selected>Select Job</option>
                                <!-- <option *ngFor="let item of ItemData" [value]="item">{{item.itemCode}} [{{ item.itemName }}]</option> -->
                                <option *ngFor="let sup of JobMasterData" [value]="sup">{{ sup }}</option>
                            </select>
                        </div>
                        </div>
                        
                      
                         
                       </div>
                      
                    </div>
                  </div>
               


          <!-- <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="companyName" class="form-label"
                  >Short Code <span class="text-danger">*</span> :</label
                >
                <input
                  type="text"
                  formControlName="shortCode"
                  class="form-control rounded-0"
                  id="companyName"
                  name="companyName"
                  placeholder="short code"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="companyName" class="form-label"
                  >Designation <span class="text-danger">*</span> :</label
                >
                <input
                  type="text"
                  formControlName="designation"
                  class="form-control rounded-0"
                  id="companyName"
                  name="companyName"
                  placeholder="designation"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="companyName" class="form-label">
                    Select Under Designation <span class="text-danger">*</span> :
                </label>
                <select class="form-select rounded-0" placeholder="select" formControlName="underDesignation">
                    <option value="" disabled selected>Select Under Designation</option>
                    <option *ngFor="let item of Roles" [value]="item">{{ item }}</option>
                </select>
            </div>
            
            </div>
             
          </div> -->
          <!-- Add similar rows and columns as needed for additional fields -->
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel"
          (click)="onClose()"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <!-- <button type="button" class="btn btn-dark text-white">Add Department</button> -->
        <button
          type="submit"
          *ngIf="showAdd"
          (click)="addNewData()"
          class="btn  btn-dark"
        >
          Add MRN Details
        </button>
        <button
          type="submit"
          (click)="updateMrnDetails()"
          *ngIf="showUpdate"
          class="btn btn-dark"
        >
          Update MRN Details
        </button>
      </div>
    </div>
  </div>
</div>
