<div class="container">
  <h3>Item Category</h3>
</div>

<div class="container my-3 ">
  <div class="row">
      <div class="col-md-4">
          <button
          (click)="onAdd()"
          class="btn btn-dark btn-no-border"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Add Item Category
        </button> 
      </div>
      <div class="col-md-4">
           
      </div>
      <div class="col-md-4">
          <!-- <input type="text" class="form-control" placeholder="Search Item" [(ngModel)]="searchTerm" (input)="filterSuppliers()"> -->
  </div>
  </div>
  
</div>

<!-- <nav class="navbar navbar-light">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <button
          (click)="onAdd()"
          class="btn btn-dark btn-no-border"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Add Item Category
        </button>
      </div>

      <div class="col">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" > 
        (input)="filterDepartments()"
      </div>
    </div>
  </div>
</nav> -->

<div class="main">
  <section class="dashboard mt-3">
    <div class="container">
      <table class="table table-responsive table-bordered">
        <thead>
          <tr class="table-dark">
            <th>Sr.No.</th>
            <th>Category Code</th>
            <th>Category Name</th>
            <th>Status</th>

            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-striped" *ngFor="let row of itemCategoryData">
            <td>{{ row.id }}</td>
            <td>{{ row.categoryCode }}</td>
            <td>{{ row.categoryName }}</td>
            <td>{{ row.status }}</td>

            <td class="text-center">
              <button
                (click)="onEdit(row)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="btn btn-sm btn-success mx-1"
              >
                Edit
              </button>
              <button
                (click)="deleteItemCategory(row)"
                class="btn btn-sm btn-danger"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <!-- Use modal-lg class to make the modal larger -->
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Item Category Form
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="itemCategoryForm">
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="companyName" class="form-label"
                  >Category Code :</label
                >
                <input
                  type="text"
                  formControlName="categoryCode"
                  class="form-control rounded-0"
                  id="companyName"
                  name="companyName"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="industry" class="form-label">Category Name :</label>
                <input
                  type="text"
                  formControlName="categoryName"
                  class="form-control rounded-0"
                  id="address1"
                  name="industry"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="location" class="form-label">Select Status:</label>
                <select
                  formControlName="status"
                  class="form-select form-control"
                >
                  <option value="Active">Active</option>
                  <option value="In-Active">In-Active</option>
                </select>
              </div>
            </div>
          </div>
          <!-- Add similar rows and columns as needed for additional fields -->
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel"
          (click)="onClose()"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <!-- <button type="button" class="btn btn-dark text-white">Add Department</button> -->
        <button
          type="submit"
          *ngIf="showAdd"
          (click)="addNewData()"
          class="btn btn-dark"
        >
          Add Item
        </button>
        <button
          type="submit"
          (click)="updateItemCategory()"
          *ngIf="showUpdate"
          class="btn btn-dark"
        >
          Update Item
        </button>
      </div>
    </div>
  </div>
</div>
