<div class="container">
    <h3>Job Contracter</h3>
   </div>
  
   <div class="container my-3 ">
    <div class="row">
        <div class="col-md-4">
            <button
            (click)="onAdd()"
            class="btn btn-dark btn-no-border"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Add Job Contracter
          </button> 
        </div>
        <div class="col-md-4">
             
        </div>
        <div class="col-md-4">
          <nav aria-label="Page navigation"  >
            <ul class="pagination justify-content-end">
              <li class="page-item " [class.disabled]="currentPage === 1">
                <a class="page-link text-dark "  (click)="setPage(currentPage - 1)">Previous</a>
              </li>
              <li class="page-item " *ngFor="let page of pages" [class.active]="page === currentPage">
                <a class="page-link" (click)="setPage(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link text-dark" (click)="setPage(currentPage + 1)">Next</a>
              </li>
            </ul>
          </nav>
            <!-- <input type="text" class="form-control" placeholder="Search Item" [(ngModel)]="searchTerm" (input)="filterSuppliers()"> -->
    </div>
    </div>
    
  </div>
   
  
   
  
  <div class="main">
    <section class="dashboard mt-3">
      <div class="container">
      
        <table class="table table-responsive table-bordered">
          <thead>
            <tr class="table-dark">
              <th>Sr.No.</th>
              <th>Job Title</th>
              <th>Contracter Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Remark</th>
  
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-striped" *ngFor="let row of paginatedJobContracterData">
              <td>{{ row.id }}</td>
              <td>{{ row.jobSelect }}</td>
              <td>{{ row.jobContracter }}</td>
              <td>{{ row.startDate | date: 'yyyy-MM-dd' }}</td>
              <td>{{ row.endDate | date: 'yyyy-MM-dd' }}</td>
        
              <td>{{ row.remark  }}</td>
            
  
              <td class="text-center">
                <button
                  (click)="onEdit(row)"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  class="btn btn-sm btn-success mx-1"
                >
                  Edit
                </button>
                <button
                  (click)="deleteJobContracter(row)"
                  class="btn btn-sm btn-danger"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <!-- Use modal-lg class to make the modal larger -->
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Job Contracter Form
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="jobContracterForm">
            <div class="row">
              <div class="col-md-4">
                
                    <div class="mb-3">
                      <label for="companyName" class="form-label"
                        >Select Job <span class="text-danger">*</span> :</label
                      >
                      <select
                        class="form-select rounded-0"
                        placeholder="select"
                        formControlName="jobSelect"
                      >
                        <option value="Select Item Category" disabled selected>
                          Select Job Master
                        </option>
                        <option *ngFor="let name of jobMasterNames" [value]="name">
                          {{ name }}
                        </option>
                      </select>
                    </div>
                   
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="companyName" class="form-label"
                    > Start Date <span class="text-danger">*</span> :</label>
                  <input
                    type="date"
                    formControlName="startDate"
                    class="form-control rounded-0"
                    id="address1"
                    name="industry"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-3">
                    <label for="companyName" class="form-label"
                      >Select Job Contracter <span class="text-danger">*</span> :</label
                    >
                    <select
                      class="form-select rounded-0"
                      placeholder="select"
                      formControlName="jobContracter"
                    >
                      <option value="Select Item Category" disabled selected>
                        Select Job Contracter
                      </option>
                      <option *ngFor="let name of jobContracterNames" [value]="name">
                        {{ name }}
                      </option>
                    </select>
                  </div>
              </div>
               
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                      <label for="companyName" class="form-label"
                        > End Date <span class="text-danger">*</span> :</label>
                      <input
                        type="date"
                        formControlName="endDate"
                        class="form-control rounded-0"
                        id="address1"
                        name="industry"
                      />
                    </div>
                  </div>
             
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="companyName" class="form-label"
                    > Remark :</label>
                  <input
                    type="text"
                    formControlName="remark"
                    class="form-control rounded-0"
                    id="address1"
                    name="industry"
                  />
                </div>
              </div>
           
               
            </div>
            <!-- Add similar rows and columns as needed for additional fields -->
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="cancel"
            (click)="onClose()"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <!-- <button type="button" class="btn btn-dark text-white">Add Department</button> -->
          <button
            type="submit"
            *ngIf="showAdd"
            (click)="addNewData()"
            class="btn btn-dark"
          >
            Add Job Contracter
          </button>
          <button
            type="submit"
            (click)="updateJobContracter()"
            *ngIf="showUpdate"
            class="btn btn-dark"
          >
            Update Job Contracter
          </button>
        </div>
      </div>
    </div>
  </div>
  