<div class="container">
  <h3>Supplier Master</h3>
 </div>

 <div class="container my-3 ">
  <div class="row">
      <div class="col-md-4">
          <button
          (click)="onAdd()"
          class="btn btn-dark btn-no-border"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Add Supplier
        </button> 
      </div>
      <div class="col-md-4">
           
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Search Supplier Name" [(ngModel)]="searchTerm" (input)="filterSuppliers()">
</div>
  </div>
  
</div>

<!-- <nav class="navbar navbar-light">
  <div class="container ">
    <div class="row">
      <div class="col-auto">
        <button (click)="onAdd()" class="btn btn-dark btn-no-border" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Supplier</button>
      </div>
     
      <div class="col">
        <input type="text" class="form-control" placeholder="Search Supplier Name" [(ngModel)]="searchTerm" (input)="filterSuppliers()">
      </div>
    </div>
  </div>
  

</nav> -->


 <div class="main">
  <section class="dashboard mt-3">
    <div class="container">
      <div class="table-responsive">
        <nav aria-label="Page navigation"  >
          <ul class="pagination justify-content-end">
            <li class="page-item " [class.disabled]="currentPage === 1">
              <a class="page-link text-dark "  (click)="setPage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item " *ngFor="let page of pages" [class.active]="page === currentPage">
              <a class="page-link" (click)="setPage(page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link text-dark" (click)="setPage(currentPage + 1)">Next</a>
            </li>
          </ul>
        </nav>
        <table class="table  table-bordered ">
          <thead>
            <tr class="table-dark">
              <th>ID</th>
              <th>Supplier Name</th>
              <th>C Person</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Phone1</th>
              <th>Phone2</th>
              <th>FaxNo</th>
              <th>Address 1</th>
              <th>Address 2</th>
              <th>PIN</th>
              <th>Tax Date</th>
              <th>Bank Name</th>
              <th>IFSC Code</th>
              <th>ACC No</th>
              <th>GST No</th>
              <th>CR Days</th>
              <th>Remark</th>
              <th>Date</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-striped" *ngFor="let row of paginatedSupplierData" >
              <td>{{row.id}}</td>
              <td>{{row.supplierName}}</td>
              <td>{{row.cPerson}}</td>
              <td>{{row.email}}</td>
              <td>{{row.mobile}}</td>
              <td>{{row.phone1}}</td>
              <td>{{row.phone2}}</td>
              <td>{{row.faxNo}}</td>
              <td>{{row.address1}}</td>
              <td>{{row.address2}}</td>
              <td>{{row.pin}}</td>
              <td>{{row.tax1Date}}</td>
              <td>{{row.bankName}}</td>
              <td>{{row.ifscCode}}</td>
              <td>{{row.accountNumber}}</td>
              <td>{{row.gstNumber}}</td>
              <td>{{row.creditDays}}</td>
              <td>{{row.date}}</td>
              <td>{{row.remarks}}</td>
  
  
              
              <td class="text-center">
                <button (click)="onEdit(row)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-sm btn-success mx-1 my-1 ">Edit</button>
                <button (click)="deleteSupplier(row)" class="btn btn-sm btn-danger ">Delete</button>
                
              </td>
              <!-- <td class="text-center" *ngFor="let emp of employeeData">
                <button (click)="onEdit(emp)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  class="btn btn-sm btn-outline-dark">Edit</button>
                <button (click)="deleteEmployee(emp)" class="btn btn-sm btn-outline-danger mx-2">Delete</button>
              </td> -->
            </tr>
   
    
          </tbody>
        </table>
      </div>
    
    </div>
  
  </section>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl"> <!-- Use modal-lg class to make the modal larger -->
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Supplier Master</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="supplierForm" class="suppform ">
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="companyName" class="form-label">Supplier Name :</label>
                <input formControlName="supplierName" ype="text" class="form-control rounded-0" id="companyName" name="companyName">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="industry" class="form-label">C Person :</label>
                <input formControlName="cPerson" type="text" class="form-control rounded-0" id="address1" name="industry">
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="location" class="form-label">Mobile No :</label>
                <input formControlName="mobile" type="text" class="form-control rounded-0" id="address2" name="location">
              </div>
            </div>
          </div>
          <!-- Add similar rows and columns as needed for additional fields -->
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="location" class="form-label">Email :</label>
                <input formControlName="email" type="email" class="form-control rounded-0" id="address3" name="location">
              </div>
            </div>  
            <div class="col-md-4">
              <div class="mb-3">
                <label for="country" class="form-label">Phone 1 :</label>
              <input formControlName="phone1" type="text" class="form-control rounded-0" id="taxid2" name="industry">

                <!-- <select formControlName="country" class="form-select rounded-0" id="country" name="country" [(ngModel)]="selectedCountry" (change)="onCountryChange(selectedCountry)">
                  <option value="" selected disabled>Select Country</option>
                  <option *ngFor="let country of countryData" [value]="country">{{ country.country }}</option>
                </select> -->
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="mb-3">
                <label for="state" class="form-label">Phone 2 :</label>
              <input formControlName="phone2" type="text" class="form-control rounded-0" id="taxid2" name="industry">

                <!-- <select formControlName="state" class="form-select rounded-0" id="state" name="state">
                  <option value="" selected disabled>Select State</option>
                  <option *ngFor="let state of selectedCountry?.states" [value]="state">{{ state }}</option>
                </select> -->
              </div>
            </div>
            
              
         </div>
         <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label for="companyName" class="form-label">Fax No :</label>
              <input formControlName="faxNo" type="text" class="form-control rounded-0" id="city" name="companyName">
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="industry" class="form-label">Address1 :</label>
              <input formControlName="address1" type="text" class="form-control rounded-0" id="taxid1" name="industry">
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="industry" class="form-label">Address 2 :</label>
              <input formControlName="address2" type="text" class="form-control rounded-0" id="taxid2" name="industry">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label for="industry" class="form-label">State :</label>
              <input formControlName="state" type="text" class="form-control rounded-0" id="phone" name="industry">
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="industry" class="form-label">Pin No :</label>
              <input formControlName="pin" type="text" class="form-control rounded-0" id="mobile" name="industry">
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="location" class="form-label">Tax No 1 :</label>
              <input formControlName="tax1" type="text" class="form-control rounded-0" id="address2" name="location">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label for="companyName" class="form-label">Tax No.1 Date :</label>
              <input formControlName="tax1Date" type="date" class="form-control rounded-0" id="email" name="companyName">
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="industry" class="form-label">Tax No 2  :</label>
              <input formControlName="tax2" type="text" class="form-control rounded-0" id="website" name="industry">
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="industry" class="form-label">Tax No.2 Date  :</label>
              <input formControlName="tax2Date" type="date" class="form-control rounded-0" id="website" name="industry">
            </div>
          </div>
         
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label for="companyName" class="form-label">Bank Name :</label>
              <input formControlName="bankName" type="text" class="form-control rounded-0" id="email" name="companyName">
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="industry" class="form-label">IFSC Code :</label>
              <input formControlName="ifscCode" type="text" class="form-control rounded-0" id="website" name="industry">
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="industry" class="form-label">Account Number :</label>
              <input formControlName="accountNumber" type="text" class="form-control rounded-0" id="website" name="industry">
            </div>
          </div>
         
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="mb-3">
              <label for="companyName" class="form-label">Credit Days :</label>
              <input formControlName="creditDays" type="text" class="form-control rounded-0" id="email" name="companyName">
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="industry" class="form-label">GST No :</label>
              <input formControlName="gstNumber" type="text" class="form-control rounded-0" id="website" name="industry">
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="industry" class="form-label">Remarks :</label>
              <input formControlName="remarks" type="text" class="form-control rounded-0" id="website" name="industry">
            </div>
          </div>
         
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" (click)="onClose()" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-dark text-white">Add Department</button> -->
        <button type="submit" *ngIf="showAdd" (click)="AddNewData()"  class="btn btn-dark">Add Supplier</button>
        <button type="submit" (click)="updateSupplier()"  *ngIf="showUpdate"  class="btn btn-dark">Update
          Supplier</button>
      </div>
    </div>
  </div>
</div>

<!-- supplierName: this.supplierForm.value.supplierName,
cPerson: this.supplierForm.value.cPerson,
mobile: this.supplierForm.value.mobile,
email:this.supplierForm.value.email,
phone1:this.supplierForm.value.phone1,
phone2: this.supplierForm.value.phone2,
faxNo:this.supplierForm.value.faxNo,
address1: this.supplierForm.value.address1,
address2: this.supplierForm.value.address2,
state: this.supplierForm.value.state,
pin: this.supplierForm.value.pin,
tax1: this.supplierForm.value.tax1,
tax1Date1: this.supplierForm.value.tax1Date,
tax2: this.supplierForm.value.tax2,
tax2Date2: this.supplierForm.value.tax2Date,
bankName: this.supplierForm.value.bankName,
ifscCode: this.supplierForm.value.ifscCode,
accountNumber:this.supplierForm.value.accountNumber,
creditDays: this.supplierForm.value.creditDays,
gstNumber: this.supplierForm.value.gstNumber,
remarks: this.supplierForm.value.remarks,
date: this.supplierForm.value.date -->